.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid $gray-light;
  background-color: $pink-light;
  transition: all 0.2s;
  backdrop-filter: blur(80px);

  .menu__list {
    position: relative;

    @include r($md) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 5;
      flex-direction: column;
      margin-top: 66px;
      padding: 40px 16px 32px;
      background-color: $pink-light;
      transform: translateY(-200%);
      transition: transform 0.3s;
    }

    @include r($sm) {
      margin-top: 58px;
    }
  }

  .menu__list--active {
    transform: translateY(0);
    transition: transform 0.3s;
  }

  .menu__button {
    @include r($md) {
      display: none;
    }
  }

  .logo {
    @include r($lg) {
      max-width: 212px;
    }

    @include r($sm) {
      margin-right: 10px;
      max-width: 170px;
    }
  }

  .button {
    @include r($extra) {
      padding: 0 15px;
    }
  }

  .menu__item {
    &:not(:last-child) {
      @include r($extra) {
        margin-right: 30px;
      }

      @include r($lg) {
        margin-right: 25px;
      }

      @include r($md) {
        margin: 0 0 32px;
      }
    }

    @include r($md) {
      font-size: 24px;
      line-height: 32px;

      &::after {
        display: none;
      }
    }
  }

  &--active {
    .menu__search {
      height: 44px;
    }

    .button {
      min-height: 44px;
    }
  }
}