.major {
  padding: 80px 0 110px;

  &__title {
    margin-bottom: 32px;
    text-align: left;
  }

  &__subtitle {
    margin-bottom: 40px;
    max-width: 329px;
    font-size: 24px;
    line-height: 32px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 40px;

    a:first-child {
      margin-right: 24px;
    }
  }

  &__info {
    max-width: 456px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__scroll {
    padding: 17px 0 17px 72px;
    border: none;
    font-size: 14px;
    line-height: 22px;
    color: $gray-medium;
    background-image: url("../images/scroll-down.svg");
    background-position: center left;
    background-size: 56px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
  }

  &__item {
    position: relative;
    width: 272px;
    height: 272px;
    border-radius: 8px;

    &:nth-child(-n+3) {
      margin-bottom: 32px;
    }
  }

  &__inner {
    position: absolute;
    left: 16px;
    bottom: 16px;
    display: flex;
    padding: 6px 8px 6px 22px;
    border-radius: 8px;
    background-color: $white;

    &::after {
      content: "";
      position: absolute;
      left: 8px;
      top: 50%;
      width: 10px;
      height: 16px;
      background-image: url("../images/ether-small.svg");
      transform: translateY(-50%);
    }
  }

  &__price {
    margin-left: 4px;
    font-weight: 600;
  }

  &__type {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 14px 16px;
    width: 100%;
    border: 2px solid transparent;
    border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0.59) -2.17%, rgba(255, 255, 255, 0) 62.56%);
    border-image-slice: 1;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $white;
    background: rgb(160, 160, 160);
    backdrop-filter: blur(80px);
  }

  &__detail {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  &__author-wrap {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
  }

  &__author {
    width: 32px;
    height: 32px;
    border: 1px solid $gray-medium;
    border-radius: 50%;
    object-fit: cover;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 880px;
  }

  &__price,
  &__text {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: $black;
  }
}

.advantages {
  padding: 160px 0;
  background-color: $pink-2;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 0 10px;
    padding-top: 88px;
    max-width: 342px;
    text-align: center;
    background-image: url("../images/decor-adv.svg");
    background-position: center top;
    background-size: 72px;
    background-repeat: no-repeat;

    p {
      margin: 0 auto;
    }
  }

  &__name {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $black;
  }
}

.categories {
  padding: 160px 0;
  background-color: $pink-light;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 48px;
  }

  .category {
    position: relative;
    margin-bottom: 32px;
    width: 100%;
    min-height: 320px;
    max-width: 475px;
    overflow: hidden;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-image: linear-gradient(65.63deg, rgba(10, 7, 34, 0.56) 0%, rgba(10, 7, 34, 0) 50.07%);
    }

    &__type {
      position: absolute;
      bottom: 0;
      z-index: 2;
      padding: 24px;
      width: 100%;
      border: 2px solid transparent;
      border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.59) -2.17%, rgba(255, 255, 255, 0) 62.56%);
      border-image-slice: 1;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $white;
      background-color: rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(80px);
    }
  }
}

.nft {
  background-color: $pink-2;

  &__items {
    flex-wrap: nowrap;
    justify-content: center;
  }

  &__item {
    margin: 20px 0;
    width: 424px !important;
    transition: box-shadow 0.3s;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &:hover {
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.001), 0 1px 15px rgba(0, 0, 0, 0.18);
    }
  }
}

.nft__items .slick-arrow {
  background-color: $pink-2 !important;
}

.nft__items .slick-arrow:hover {
  background-color: $pink-light !important;
}
