.faq {
  padding: 120px 0 160px;

  &__list {
    border-top: 1px solid $gray-medium;
  }

  &__item {
    position: relative;
    padding: 32px 0;
    border-bottom: 1px solid $gray-medium;
    transition: padding 0.3s;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 32px;
      width: 32px;
      height: 32px;
      background-image: url("../images/accordion-arrow.svg");
      transition: all 0.3s;
    }

    &.faq__item--active {
      padding: 24px 0;

      &::after {
        transform: rotate(180deg) !important;
      }
    }
  }

  &__name {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $black;
    transition: margin-bottom 0.3s;
  }

  &__text {
    display: none;
  }

  &__item--active {
    .faq__text {
      display: block;
    }

    .faq__name {
      margin-bottom: 16px;
    }
  }
}
