$black: #22071f;
$gray: #bbc8d0;
$gray-black: #776f71;
$gray-dark: #bbb2b5;
$gray-medium: #d3cbcd;
$gray-light: #e8dee0;
$pink-2: #fff2f5;
$pink-light: #fff7f8;
$pink: #fff6f8;
$white: #fff;
$primary: #d25cfe;
$secondary: #6b7fff;
$extra: 1720;
$xxl: 1300;
$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;
$extra: 1500;
$xxl: 1300;
$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;